<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">BLOG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav justify-content-center fs-5  flex-grow-1" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active {% if request.resolver_match.url_name == 'home' %}  
            {%endif%}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active {% if request.resolver_match.url_name == 'about' %} 
            {%endif%}" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active {% if request.resolver_match.url_name == 'contact' %} 
            {%endif%}" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-but" >
          {% if request.user.is_authenticated %}
          <a class="btn btn-outline-light" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-but">
          <a class="btn btn-outline-light" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-but">
          <a class="btn btn-outline-light" href="{% url 'signup' %}">Signup</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>