{% extends 'layout/base.html' %}
{%block title %}
{(post.title)}
{%endblock title %}
{% block content %}
    <div class="container">
        <div class="post-title">
            <h2 class="text-info text-center">{{post.title}} </h2>

        </div>
        {% if post.image %}
        <div class="post.image">
            <image src="{{post.image.url}}" alt="{{post.title}}"/>
        </div>
        {% endif %}
        <div class="post-content">{{post.content}}</div>

    </div>
    {% endblock content %}
    