{% extends 'layout/base.html' %}
{%block title %}
  Post List
{%endblock title %}
{% block content %}
    <h1>Post List</h1>
    <div class="row">
        {% for post in posts %}
        {% if post.image %}
        <div class="post-list-image">
            <img src="{{ post.image.url }}" 
            alt="{{post.title}}"
            width="200px"
            height="200px" >
        </div>
        {% endif %}
            <div class="col-3">
                <h2 class="text-center"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <div class="post-content">{{post.content}}</div>
                <div>
                    <a href="{% url 'post-edit' post.id %}">Edit</a>
                </div>
                <div>
                    <form method="post" action="{% url 'post-delete' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{post.id}}" />
                        <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <nav  aria-label="Page navigation ">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Prevoius</a></li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="#">{{ posts.number }}</a></li>
          {% if posts.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
{%endblock content %}
